In [12]:
import pandas as pd
import numpy as np
import sys

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [13]:
#Question 1
pd.__version__

'1.5.3'

In [85]:
data = pd.read_csv("C:/Users/hiros/Documents/Curso Machine Learning/Week-1/housing.csv")

In [79]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [59]:
#Question 2
num_columns = len(data.columns)
print("Number of columns: ", num_columns)

Number of columns:  10

In [60]:
#Question 3
columns_with_missing_data = data.columns[data.isna().any()]
print(columns_with_missing_data)

Index(['total_bedrooms'], dtype='object')

In [61]:
#Question 4
unique_values_count = data['ocean_proximity'].nunique()
print("Unique values in 'ocean proximity': ", unique_values_count)

Unique values in 'ocean proximity':  5

In [66]:
#Question 5
average_median_house_value = data[data['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()
print("Average Value of 'Median _House Value':", average_median_house_value)

Average Value of 'Median _House Value': 259212.31179039303

In [86]:
#Question 6
#Calculate the average of total_bedrooms column in the dataset.
average_total_bedrooms = data['total_bedrooms'].mean()
print(average_total_bedrooms)

537.8705525375618

In [87]:
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
data['total_bedrooms'].fillna(537.8705525375618, inplace=True)

# Now, calculate the average of total_bedrooms again.
average_total_bedrooms = data['total_bedrooms'].mean()
print(average_total_bedrooms)

537.8705525375617

In [90]:
#Has the mean value changed after filling missing values?
if 537.8705525375618==537.8705525375617:
    print('Yes')
else: 
    print('No')

No

In [89]:
#Question 7

#Select all the options located on islands.
#Select only columns housing_median_age, total_rooms, total_bedrooms.
#Get the underlying NumPy array. Let's call it X.
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#Compute the inverse of XTX.
#Create an array y with values [950, 1300, 800, 1000, 1300].
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#What's the value of the last element of w?

No